details {
    padding: 0.5em;
    border: 1px solid #dddddd20;
    border-radius: 4px;
    margin-bottom: 1em;
}
  
summary {
  font-weight: bold;
  cursor: pointer;
}

summary:hover {
  color: #38138d;
}

input[type="checkbox"] {
  margin-top: 7px;
  margin-right: 0.5em;
  float: right;
}