.title {
  font-size: 3rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 20px;
  margin-left: 450px;
  margin-right: 450px;
  text-align: Left;
}

.warn {
  border: 4px solid #FF2222;
  border-radius: 15px;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 15px;
}

.codeframe {
  height: 590px;
  width: 100%;
}